TYPE=Ethernet
PROXY_METHOD={{ proxy }}
BROWSER_ONLY=no
BOOTPROTO=static
IPADDR={{ ipv4_addr }}
NETMASK=255.255.240.0
GATEWAY=147.234.159.254
ipv6_addr={{ ipv6_addr }}
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
NAME=ens192
DOMAIN=ecitele.com
DNS1=147.234.244.4
DNS2=147.234.244.5
UUID=f6d857d3-00fc-4336-b2dd-84d6e9b9ab62
DEVICE={{ dev_name }}
ONBOOT={{ onb }} 
